body {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: black;
}

body, .steps, .roi-border {
    background-color: white;
}

h1, h2, h3 {
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
}

#wrapper {
    height: 1000px;
    margin: 0 auto;
}

#wrapper, #disclaimer {
    width: 800px;
}

h1, h2, h3 {
    text-align: center;
}

#leadh2 {
    margin-top: 575px;
}

.steps {
    font-size: 24px;
    width: 250px;
}

button {
    background-color: #ffaaab;
    border: 2px solid #ff5e6c;
}

button, .toggles {
    cursor: pointer;
}

.typed {
    cursor: text;
}

label, input, button {
    font-size: 12px;
}

.expensesDiv, savingsDiv, button {
    margin-top: 10px;
}

h3, label, input, button, p {
    margin-left: 20px;
}

#initial {
    float: left;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-left: 2px solid #feb300;
}

#results {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-right: 2px solid #feb300;
}

#initial, #results {
    width: 49.75%;
    height: 540px;
    padding: 0;
    border-top: 2px solid #feb300;
    border-bottom: 2px solid #feb300;
}

.typed, #results {
    float: right;
}

.info, button, h2 {
    padding: 10px;
}

.info, button, h3, .steps {
    border-radius: 15px;
}

.info, h3 {
    margin-left: auto;
    margin-right: auto;
}

.info, h3, .roi-border {
    border: 2px solid #feb300;
}

#initial, #results, .info {
    background-color: #fff5d7;
}

.roi-border {
    padding: 4px;
}
