body {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: black;
    background-color: transparent;
}

#wrapper {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
}

#leadh2 {
    margin-top: 565px;
}

h2 {
    padding: 15px;
}

h1, h2, h3 {
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
}

.steps {
    font-size: 24px;
    background-color: white;
    border-radius: 15px;
    width: 250px;
}

button {
    margin-top: 10px;
    background-color: #ffaaab;
    border: 2px solid #ff5e6c;
}

label, input, button {
    font-size: 12px;
}

h3, label, input, button, p {
    margin-left: 20px;
}

#initial {
    float: left;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-left: 2px solid #feb300;
}

#results {
    float: right;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-right: 2px solid #feb300;
}

#initial, #results {
    width: 49.75%;
    height: 540px;
    padding: 0;
    border-top: 2px solid #feb300;
    border-bottom: 2px solid #feb300;
}

.info, button {
    padding: 10px;
}

.info, button, h3 {
    border-radius: 15px;
}

.info, h3 {
    border: 2px solid #feb300;
    margin-left: auto;
    margin-right: auto;
}

#initial, #results, .info {
    background-color: #fff5d7;
}

.typed {
    float: right;
}

.expensesDiv, savingsDiv{
    margin-top: 10px;
}

.roi-border {
    background-color: white;
    border: 2px solid #feb300;
    padding: 4px;
}
#disclaimer {width: 800px;}
